.container {
  display: grid;
  grid-template-columns: 320px 200px;
  justify-content: center;
  margin-top: 100px;
}
#board {
  border: 2px solid black;
}
.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.score {
}
.play-btn {
  background-color: greenyellow;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}
